@font-face {
    font-family: 'Corbel';
    src: url('Corbel-Bold.eot');
    src: url('Corbel-Bold.eot?#iefix') format('embedded-opentype'),
    url('Corbel-Bold.woff') format('woff'),
    url('Corbel-Bold.ttf') format('truetype'),
    url('Corbel-Bold.svg#Corbel-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
