body {
    &.rtl{
        direction: rtl;
        text-align: right;
        .float-right {
            float: left!important;
        }
        .under-line{
            transform: rotate(180deg);
        }
        .home-slider img {
            width: 100%;
            transform: rotateY(180deg);
        }
    }
}
