::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $bg-footer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.nav-icon {
    display: none;
    position: relative;
    color: $nav-color;
    height: 12px;
    margin: 20px 0;

    i {
        display: block;
        width: 20px;
        height: 2px;
        background-color: $nav-color;
        margin: 5px 0;
    }

    &:before, &:after {
        content: '';
        position: absolute;
        left: 0;
        width: 20px;
        height: 2px;
        background-color: $nav-color;
        transition: 0.2s;
    }

    &:before {
        top: 0;
    }

    &:after {
        bottom: 0;
    }
}

.nav-icon.close-nav {
    i {
        visibility: hidden;
    }

    &:before {
        transform: rotate(45deg);
        top: 5px;
        width: 15px;

    }

    &:after {
        transform: rotate(-45deg);
        bottom: 5px;
        width: 15px;
    }
}

.prevent-body-scroll {
    height: 100vh;
    overflow: hidden;
}

.responsive-menu {
    opacity: 0;
    z-index: -1;
    background-color: $bg-alpha;
    height: calc(100vh - 52px);
    overflow-y: scroll;
    width: 100vw;
    transition: 0.2s;
    position: fixed;
    top: 52px;
    left: 0;
    border-top: 2px solid $gray-border;

    ul {
        padding: 10px 0;
    }

    li {
        padding: 10px 30px;

        a {
            color: $nav-color;
            font-size: 18px;
            font-family: $font-family-bold;

            &:hover {
                color: $danger-color;
            }
        }
    }

    div {
        font-size: 24px;
        margin: 20px;
    }
}

.responsive-menu.opened {
    opacity: 1;
    z-index: 999;
}
.overflow-hidden{
    overflow: hidden;
}

.swiper-pagination-bullet {
    border-radius: 0;
    transform: rotate(45deg);
    margin: 15px 0 !important;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active:after {
    content: '';
    width: 6px;
    height: 6px;
    background: $bullet-active;
    position: absolute;
    left: calc(50% - 3px);
    top: calc(50% - 3px);
}

.swiper-container-vertical > .swiper-pagination-bullets {
    right: 40px;
}

.section-title {
    font-family: $font-family-bold;
    width: 100%;
    text-align: center;
    line-height: .8;

}

@media screen and (max-width: 1024px) {
    header {
        position: fixed;
        width: 100%;
        top:0;
        z-index: 9999;
        background: white;
        .nav {
            display: none !important;
        }

        .nav-icon {
            display: inline-block;
        }
    }
    .home-slider{
     margin-top: 52px;
    }
}

