
@import "../../fonts/gill-sans/stylesheet.css";
@import "../../fonts/corbel/stylesheet.css";
@import "../../fonts/corbel-bold/stylesheet.css";
//App variables
$black-color : #000;
$danger-color : #e44b37;
$sub-line-color : #d74a2e;
$bg-btn : #ed5b47;
$bg-footer: #363636;
$nav-color : #575757;
$bg-alpha : #f6f6f6;
$gray-border : #cccc ;
$gray-color : #848484;
$footer-color : #aeb0ab;
$card-title: #101010;
$gradient-color: linear-gradient(to right, $bg-btn, #cc3333);
$bullet-active : #de9c68;
$font-family-bold: 'Corbel-Bold', sans-serif;
$font-family-pro: 'corbel', sans-serif;
$font-family-light: 'light', sans-serif;
