@import "../../fonts/gill-sans/stylesheet.css";
@import "../../fonts/corbel/stylesheet.css";
@import "../../fonts/corbel-bold/stylesheet.css";
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #363636;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.nav-icon {
  display: none;
  position: relative;
  color: #575757;
  height: 12px;
  margin: 20px 0;
}
.nav-icon i {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #575757;
  margin: 5px 0;
}
.nav-icon:before, .nav-icon:after {
  content: "";
  position: absolute;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: #575757;
  transition: 0.2s;
}
.nav-icon:before {
  top: 0;
}
.nav-icon:after {
  bottom: 0;
}

.nav-icon.close-nav i {
  visibility: hidden;
}
.nav-icon.close-nav:before {
  transform: rotate(45deg);
  top: 5px;
  width: 15px;
}
.nav-icon.close-nav:after {
  transform: rotate(-45deg);
  bottom: 5px;
  width: 15px;
}

.prevent-body-scroll {
  height: 100vh;
  overflow: hidden;
}

.responsive-menu {
  opacity: 0;
  z-index: -1;
  background-color: #f6f6f6;
  height: calc(100vh - 52px);
  overflow-y: scroll;
  width: 100vw;
  transition: 0.2s;
  position: fixed;
  top: 52px;
  left: 0;
  border-top: 2px solid #cccc;
}
.responsive-menu ul {
  padding: 10px 0;
}
.responsive-menu li {
  padding: 10px 30px;
}
.responsive-menu li a {
  color: #575757;
  font-size: 18px;
  font-family: "Corbel-Bold", sans-serif;
}
.responsive-menu li a:hover {
  color: #e44b37;
}
.responsive-menu div {
  font-size: 24px;
  margin: 20px;
}

.responsive-menu.opened {
  opacity: 1;
  z-index: 999;
}

.overflow-hidden {
  overflow: hidden;
}

.swiper-pagination-bullet {
  border-radius: 0;
  transform: rotate(45deg);
  margin: 15px 0 !important;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active:after {
  content: "";
  width: 6px;
  height: 6px;
  background: #de9c68;
  position: absolute;
  left: calc(50% - 3px);
  top: calc(50% - 3px);
}

.swiper-container-vertical > .swiper-pagination-bullets {
  right: 40px;
}

.section-title {
  font-family: "Corbel-Bold", sans-serif;
  width: 100%;
  text-align: center;
  line-height: 0.8;
}

@media screen and (max-width: 1024px) {
  header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    background: white;
  }
  header .nav {
    display: none !important;
  }
  header .nav-icon {
    display: inline-block;
  }

  .home-slider {
    margin-top: 52px;
  }
}
body.rtl {
  direction: rtl;
  text-align: right;
}
body.rtl .float-right {
  float: left !important;
}
body.rtl .under-line {
  transform: rotate(180deg);
}
body.rtl .home-slider img {
  width: 100%;
  transform: rotateY(180deg);
}

body {
  font-family: "corbel";
}

header .nav .nav-item {
  position: relative;
  font-size: 16px;
  color: #575757;
  font-family: "Corbel-Bold", sans-serif;
}
header .nav .nav-item > .nav-link {
  padding: 20px 12px;
}
header .nav .nav-item .sub-nav {
  display: none;
  position: absolute;
  background: #f6f6f6;
  min-width: 290px;
  color: #575757;
  box-shadow: 1px 1px 10px #cccc;
  z-index: 999;
}
header .nav .nav-item .sub-nav .nav-link {
  border-bottom: 1px solid #cccc;
}
header .nav .nav-item .sub-nav .nav-link:hover {
  color: #e44b37;
}
header .nav .nav-item:hover .sub-nav {
  display: block;
}
header .nav .nav-item:hover > .nav-link {
  background: #f6f6f6;
  color: #e44b37;
  box-shadow: 1px 1px 10px #cccc;
}
header .nav .nav-item .search-icon {
  width: 20px;
}

.home-slider {
  height: 460px;
}
.home-slider .swiper-container {
  height: 100%;
}
.home-slider img {
  width: 100%;
}
.home-slider video {
  width: 100%;
}
.home-slider .swiper-pagination-bullet {
  background: #ffffff;
  opacity: 0.7;
}
.home-slider .swiper-pagination-bullet-active {
  background: #ffffff;
  opacity: 1;
}
.home-slider .overlay-slide {
  position: absolute;
  top: 0;
  width: 100%;
}
.home-slider .overlay-slide h2 {
  color: #e44b37;
  font-size: 38px;
  max-width: 360px;
  margin-top: 7vw;
}
.home-slider .overlay-slide p {
  color: #848484;
  max-width: 470px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.home-slider .overlay-slide .btn-more {
  background-image: linear-gradient(to right, #ed5b47, #cc3333);
  color: #ffffff;
}
.home-slider .overlay-slide .btn-more:active {
  background-image: linear-gradient(to right, #ed5b47, #cc3333);
  color: #ffffff;
  outline: none;
}

.our-services {
  background-image: url("../../images/bg-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  background-attachment: fixed;
  padding-top: 3.5vw;
}
.our-services .container {
  height: 550px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.our-services .section-title {
  font-family: "Corbel-Bold", sans-serif;
  width: 100%;
  text-align: center;
  margin-bottom: 8vw;
}
.our-services .service {
  text-align: center;
}
.our-services .service img {
  transition: all ease-in-out 0.4s;
}
.our-services .service .service-name {
  margin-top: 15px;
  color: #686868;
}
.our-services .service p {
  max-width: 300px;
  margin: auto;
  color: #686868;
}
.our-services .service a:hover img {
  transform: scale(1.1);
  transition: all ease-in-out 0.4s;
}
.our-services .service a:hover .service-name {
  color: #e44b37;
}
.our-services .btn-services {
  color: #a0a0a0;
  background: white;
  border: 1px solid #a0a0a0;
  border-radius: 10px;
  margin: 50px 0;
}
.our-services .btn-services:hover {
  color: #fff;
  background: #e44b37;
  border: 1px solid #e44b37;
}

.overview {
  padding: 3.5vw 0;
  background-image: url("../../images/bg-overview.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.overview .section-title {
  color: #ffffff;
  width: 100%;
  padding: 0 0 3vw 0;
}
.overview p {
  color: #ffffff;
  font-family: "light", sans-serif;
  text-align: center;
  font-size: 24px;
  max-width: 1100px;
  margin: auto;
  line-height: 1;
}

.officers {
  padding: 3.5vw 0;
}
.officers .section-title {
  padding-bottom: 3vw;
}
.officers .card-title {
  font-family: "Corbel-Bold", sans-serif;
}
.officers .sub-title {
  color: #e44b37;
}
.officers .mini-cards .card-title {
  text-align: center;
}
.officers .mini-cards .sub-title {
  text-align: center;
}
.officers .main-card {
  box-shadow: 1px 1px 5px #cccc;
}
.officers .main-card .card-title {
  font-size: 30px;
  margin-bottom: 0px;
}
.officers .main-card .sub-title {
  font-family: "Corbel-Bold", sans-serif;
  font-size: 16px;
}
.officers .main-card .card-text {
  padding-bottom: 15px;
}
.officers .main-card .social-icons {
  display: flex;
  border-top: 1px solid #cccc;
  padding-top: 15px;
}
.officers .main-card .social-icons a {
  width: 25px;
  height: 25px;
  text-align: center;
  background: #363636;
  color: white;
  border-radius: 100%;
  margin-left: 5px;
}
.officers .main-card .social-icons a:hover {
  background: #e44b37;
}
.officers .main-card .social-icons a i {
  vertical-align: middle;
}

.statistics {
  padding: 3.5vw 0;
  background-image: url("../../images/bg-stat.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.statistics .section-title {
  color: #ffffff;
  width: 100%;
  padding: 0 0 3vw 0;
}
.statistics .statistic {
  text-align: center;
}
.statistics .statistic .icon {
  border: 2px solid white;
  width: 85px;
  height: 85px;
  border-radius: 10px;
  margin: auto;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 20px;
}
.statistics .statistic .icon i {
  color: white;
  font-size: 46px;
  -ms-flex-item-align: center;
  align-self: center;
}
.statistics .statistic .icon:hover {
  background: white;
}
.statistics .statistic .icon:hover i {
  color: #e44b37;
}
.statistics .statistic .count {
  font-family: "Font Awesome 5 Free";
  color: #ffffff;
  font-size: 30px;
}
.statistics .statistic .statistic-name {
  color: white;
  font-size: 18px;
  margin-bottom: 20px;
}

.recent-news {
  padding: 3.5vw 0;
}
.recent-news .section-title {
  padding-bottom: 3vw;
}
.recent-news .card {
  box-shadow: 1px 1px 5px #cccc;
  margin-bottom: 10px;
}
.recent-news .card .card-title {
  color: #101010;
  font-size: 20px;
  font-family: "Corbel-Bold", sans-serif;
}
.recent-news .card .card-text {
  color: #101010;
}
.recent-news .card .btn-more {
  color: white;
  background: #ed5c48;
  margin-top: 20px;
}
.recent-news .card img {
  transition: all ease-in-out 0.4s;
}
.recent-news .card:hover img {
  transform: scale(1.1);
  transition: all ease-in-out 0.4s;
}
.recent-news .card:hover .card-title {
  color: #ed5c48;
}

.partners {
  padding: 3.5vw 0;
  background-image: linear-gradient(to right, #e49a12, #cc3333);
}
.partners .section-title {
  padding-bottom: 3vw;
  color: white;
}
.partners .swiper-container-android .swiper-slide, .partners .swiper-wrapper {
  text-align: center;
}
.partners .swiper-slide img {
  width: 100%;
  height: 48px;
}

footer {
  background: #363636;
  padding: 35px 0;
  color: #aeb0ab;
  text-transform: uppercase;
}
footer .explore h3 {
  color: white;
  font-family: "Corbel-Bold", sans-serif;
  font-size: 28px;
  padding-bottom: 20px;
  border-bottom: 1px solid #7e807d;
}
footer .footer-wrapper {
  margin-top: 40px;
}
footer .footer-wrapper a:hover {
  color: #e44b37;
}
footer .footer-wrapper h4 {
  color: white;
  font-size: 18px;
  margin-bottom: 25px;
  font-family: "Corbel-Bold", sans-serif;
}
footer .footer-wrapper ul li {
  margin-bottom: 15px;
}
footer .footer-wrapper ul li a {
  color: #aeb0ab;
}
footer .footer-wrapper .subscribe-btn {
  background: #e44b37;
  color: white;
  text-transform: uppercase;
}
footer .footer-wrapper .subscribe-btn:hover {
  color: #e44b37;
  background: white;
  border: 1px solid #e44b37;
}
footer .footer-wrapper .subscribe-btn:focus {
  outline: none;
}
footer .footer-wrapper input:focus {
  box-shadow: none;
}
footer .footer-wrapper .copyright {
  color: #aeb0ab;
  margin-top: 40px;
}
footer .footer-wrapper .social-icons {
  display: flex;
  color: #aeb0ab;
  margin-top: 20px;
}
footer .footer-wrapper .social-icons a {
  margin-right: 10px;
  color: #aeb0ab;
}
footer .footer-wrapper .social-icons a:hover {
  color: #e44b37;
}

@media screen and (max-width: 1024px) {
  .home-slider {
    height: 320px;
  }
}
@media screen and (max-width: 768px) {
  h2.section-title {
    font-size: 26px;
  }

  .home-slider {
    height: 41vw;
  }
  .home-slider .overlay-slide p {
    display: none;
  }
  .home-slider .overlay-slide h2 {
    font-size: 23px;
    max-width: 180px;
    margin-bottom: 10px;
  }

  .our-services .service p {
    display: none;
  }
  .our-services .service img {
    width: 80px;
  }
  .our-services .service .service-name {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 22px;
  }
}

/*# sourceMappingURL=app.css.map */
