@import "variables";
@import "components/shared";
@import "components/rtl";


body {
    font-family: 'corbel';
}

header {
    .nav {
        .nav-item {
            position: relative;
            font-size: 16px;
            color: $nav-color;
            font-family: $font-family-bold;

            > .nav-link {
                padding: 20px 12px;
            }

            .sub-nav {
                display: none;
                position: absolute;
                background: $bg-alpha;
                min-width: 290px;
                color: $nav-color;
                box-shadow: 1px 1px 10px #cccc;
                z-index: 999;

                .nav-link {
                    border-bottom: 1px solid $gray-border;
                    &:hover{
                        color: $danger-color;

                    }
                }
            }

            &:hover {
                .sub-nav {
                    display: block;
                }
                > .nav-link{
                    background: $bg-alpha;
                    color: $danger-color;
                    box-shadow: 1px 1px 10px #cccc;
                }
            }

            .search-icon {
                width: 20px;
            }
        }
    }
}

.home-slider {
    height: 460px;

    .swiper-container {
        height: 100%;
    }

    img {
        width: 100%;
    }

    video {
        width: 100%;
    }

    .swiper-pagination-bullet {
        background: #ffffff;
        opacity: 0.7
    }

    .swiper-pagination-bullet-active {
        background: #ffffff;
        opacity: 1
    }

    .overlay-slide {
        position: absolute;
        top: 0;
        width: 100%;

        h2 {
            color: $danger-color;
            font-size: 38px;
            max-width: 360px;
            margin-top: 7vw;
        }

        p {
            color: $gray-color;
            max-width: 470px;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .btn-more {
            background-image: $gradient-color;
            color: #ffffff;

            &:active {
                background-image: linear-gradient(to right, $bg-btn, #cc3333);
                color: #ffffff;
                outline: none;
            }
        }
    }
}

.our-services {
    background-image: url("../../images/bg-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
    background-attachment: fixed;
    padding-top: 3.5vw;

    .container {
        height: 550px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }

    .section-title {
        font-family: $font-family-bold;
        width: 100%;
        text-align: center;
        margin-bottom: 8vw;
    }

    .service {
        text-align: center;

        img {
            transition: all ease-in-out 0.4s;
        }

        .service-name {
            margin-top: 15px;
            color: #686868;

        }

        p {
            max-width: 300px;
            margin: auto;
            color: #686868;
        }

        a {
            &:hover {
                img {
                    transform: scale(1.1);
                    transition: all ease-in-out 0.4s;
                }

                .service-name {
                    color: $danger-color;
                }
            }
        }
    }
    .btn-services{
        color: #a0a0a0;
        background: white;
        border: 1px solid #a0a0a0;
        border-radius: 10px;
        margin: 50px 0;
        &:hover{
            color: #fff;
            background: $danger-color;
            border: 1px solid $danger-color;
        }
    }


}

.overview {
    padding: 3.5vw 0;
    background-image: url("../../images/bg-overview.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .section-title {
        color: #ffffff;
        width: 100%;
        padding: 0 0 3vw 0;
    }

    p {
        color: #ffffff;
        font-family: $font-family-light;
        text-align: center;
        font-size: 24px;
        max-width: 1100px;
        margin: auto;
        line-height: 1;
    }
}

.officers{
    padding: 3.5vw 0;
    .section-title {
        padding-bottom: 3vw;
    }
    .card-title{
        font-family: $font-family-bold;
    }
    .sub-title{
        color: $danger-color;
    }
    .mini-cards{
        .card-title{
            text-align: center;
        }
        .sub-title{
            text-align: center;
        }
    }
    .main-card{
        box-shadow: 1px 1px 5px #cccc;
        .card-title{
            font-size: 30px;
            margin-bottom: 0px;
        }
        .sub-title{
            font-family: $font-family-bold;
            font-size: 16px;

        }
        .card-text{
            padding-bottom: 15px;
        }
        .social-icons{
            display: flex;
            border-top: 1px solid $gray-border;
            padding-top: 15px;
            a{
                width: 25px;
                height: 25px;
                text-align: center;
                background: $bg-footer;
                color: white;
                border-radius: 100%;
                margin-left: 5px;
                &:hover{
                    background: $danger-color;
                }
                i{
                    vertical-align: middle;
                }
            }
        }
    }

}

.statistics {
    padding: 3.5vw 0;
    background-image: url("../../images/bg-stat.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .section-title {
        color: #ffffff;
        width: 100%;
        padding: 0 0 3vw 0;
    }

    .statistic {
        text-align: center;

        .icon {
            border: 2px solid white;
            width: 85px;
            height: 85px;
            border-radius: 10px;
            margin: auto;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            margin-bottom: 20px;

            i {
                color: white;
                font-size: 46px;
                -ms-flex-item-align: center;
                align-self: center;
            }

            &:hover {
                background: white;

                i {
                    color: $danger-color;
                }
            }
        }

        .count {
            font-family: 'Font Awesome 5 Free';
            color: #ffffff;
            font-size: 30px;
        }

        .statistic-name {
            color: white;
            font-size: 18px;
            margin-bottom: 20px;
        }
    }
}

.recent-news {
    padding: 3.5vw 0;

    .section-title {
        padding-bottom: 3vw;
    }

    .card {
        //max-width: 335px;
        //margin: auto;
        box-shadow: 1px 1px 5px #cccc;
        margin-bottom: 10px;

        .card-title {
            color: $card-title;
            font-size: 20px;
            font-family: $font-family-bold;
        }

        .card-text {
            color: $card-title;
        }

        .btn-more {
            color: white;
            background: #ed5c48;
            margin-top: 20px;
        }

        img {
            transition: all ease-in-out 0.4s;
        }

        &:hover {
            img {
                transform: scale(1.1);
                transition: all ease-in-out 0.4s;
            }

            .card-title {
                color: #ed5c48;
            }
        }
    }
}

.partners {
    padding: 3.5vw 0;
    background-image: linear-gradient(to right, #e49a12, #cc3333);

    .section-title {
        padding-bottom: 3vw;
        color: white;
    }

    .swiper-container-android .swiper-slide, .swiper-wrapper {
        text-align: center;
    }
    .swiper-slide  {
        img{
            width: 100%;
            height: 48px;
        }
    }
}

footer {
    background: $bg-footer;
    padding: 35px 0;
    color: $footer-color;
    text-transform: uppercase;

    .explore {
        h3 {
            color: white;
            font-family: $font-family-bold;
            font-size: 28px;
            padding-bottom: 20px;
            border-bottom: 1px solid #7e807d;
        }
    }

    .footer-wrapper {
        a{
            &:hover{
                color: $danger-color;
            }
        }

        margin-top: 40px;

        h4 {
            color: white;
            font-size: 18px;
            margin-bottom: 25px;
            font-family: $font-family-bold;

        }

        ul {
            li {
                margin-bottom: 15px;

                a {
                    color: $footer-color;
                }
            }
        }

        .subscribe-btn {
            background: $danger-color;
            color: white;
            text-transform: uppercase;

            &:hover {
                color: $danger-color;
                background: white;
                border: 1px solid $danger-color;
            }

            &:focus {
            outline: none;}

        }
        input {
            &:focus{
                box-shadow: none;
            }
        }
        .copyright{
            color: $footer-color;
            margin-top: 40px;
        }
        .social-icons{
            display: flex;
            color: $footer-color;
            margin-top: 20px;
            a{
                margin-right: 10px;
                color: $footer-color;
                &:hover{
                    color: $danger-color;
                }

            }
        }
    }
}
@media screen and (max-width: 1024px){
    .home-slider {
        height: 320px;
    }
}
@media screen and (max-width: 768px) {
    h2.section-title {
        font-size: 26px;
    }
    .home-slider{
        height: 41vw;
        .overlay-slide{
            p{
                display: none;
            }
            h2{
                font-size: 23px;
                max-width: 180px;
                margin-bottom: 10px;
            }
        }

    }
    .our-services{
        .service {
            p{
                display: none;
            }
            img{
                width: 80px;
            }
            .service-name{
                margin-top: 0;
                margin-bottom: 10px;
                font-size: 22px;
            }
        }
    }
}

