@font-face {
    font-family: 'Gill Sans';
    src: url('GillSansLight.eot');
    src: url('GillSansLight.eot?#iefix') format('embedded-opentype'),
        url('GillSansLight.woff') format('woff'),
        url('GillSansLight.ttf') format('truetype'),
        url('GillSansLight.svg#GillSansLight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

