<template>
    <section class="home-slider">
        <swiper ref="mySwiper" :options="swiperOptions">
            <swiper-slide v-for="(slide ,index) in mainSlider" :key="index">
                <div>
                    <img :src="slide.imgSrc" alt="slide 2">
                </div>
                <div class="overlay-slide">
                    <div class="container">
                        <h2>
                            {{slide.mainTitle}}
                        </h2>
                        <p>
                            {{slide.subTitle}}
                        </p>
                        <a href="javascript: void (0)" class="btn btn-more">{{ $t('learnMore') }}</a>
                    </div>

                </div>
            </swiper-slide>
            <div class="swiper-pagination" slot="pagination"></div>
        </swiper>

        <!-- <div class="swiper-container">
             <div class="swiper-wrapper">
                 <div class="swiper-slide">
                     <div>
                         <img src="@/assets/images/slide.jpg" alt="slide 2">
                     </div>
                     <div class="overlay-slide">
                         <div class="container">
                             <h2>
                                 We are growing fast
                                 do you see.
                             </h2>
                             <p>
                                 Preserved defective offending he daughters on or. Rejoiced prospect yet material
                                 servants out answered men admitted. Sportsmen certainty prevailed suspected am as. Add
                                 stairs admire all answer the nearer yet length.
                             </p>
                             <a href="javascript: void (0)" class="btn btn-more">Learn More</a>
                         </div>

                     </div>
                 </div>
                 <div class="swiper-slide">
                     <div>
                         <img src="@/assets/images/slide.jpg" alt="slide 2">
                     </div>
                     <div class="overlay-slide">
                         <div class="container">
                             <h2>
                                 We are growing fast
                                 do you see.
                             </h2>
                             <p>
                                 Preserved defective offending he daughters on or. Rejoiced prospect yet material
                                 servants out answered men admitted. Sportsmen certainty prevailed suspected am as. Add
                                 stairs admire all answer the nearer yet length.
                             </p>
                             <a href="javascript: void (0)" class="btn btn-more">Learn More</a>
                         </div>

                     </div>
                 </div>
                 <div class="swiper-slide">
                     <div>
                         <img src="@/assets/images/slide.jpg" alt="slide 2">
                     </div>
                     <div class="overlay-slide">
                         <div class="container">
                             <h2>
                                 We are growing fast
                                 do you see.
                             </h2>
                             <p>
                                 Preserved defective offending he daughters on or. Rejoiced prospect yet material
                                 servants out answered men admitted. Sportsmen certainty prevailed suspected am as. Add
                                 stairs admire all answer the nearer yet length.
                             </p>
                             <a href="javascript: void (0)" class="btn btn-more">Learn More</a>
                         </div>

                     </div>
                 </div>

             </div>
             &lt;!&ndash; Add Arrows &ndash;&gt;
             &lt;!&ndash;            <div class="swiper-button-next"></div>&ndash;&gt;
             &lt;!&ndash;            <div class="swiper-button-prev"></div>&ndash;&gt;
             <div class="swiper-pagination"></div>
         </div>-->
    </section>

</template>

<script>
    import Swiper from 'swiper';

    export default {
        name: "HomeSlider",
        data() {
            return {
                swiperOptions: {
                    direction: 'horizontal',
                    breakpoints: {
                        480: {
                            direction: 'vertical',
                        },
                    },
                    pagination: {
                        el: '.swiper-pagination',
                        clickable: true
                    },

                },
                mainSlider: [
                    {
                        mainTitle: 'We are growing fast do you see.',
                        subTitle: 'Preserved defective offending he daughters on or. Rejoiced prospect yet material servants out answered men admitted. Sportsmen certainty prevailed suspected am as. Add stairs admire all answer the nearer yet length. ',
                        imgSrc: 'images/slide.jpg',
                    },
                    {
                        mainTitle: 'We are growing.',
                        subTitle: 'Preserved defective offending he daughters on or. Rejoiced prospect yet material servants out answered men admitted. Sportsmen certainty prevailed suspected am as. Add stairs admire all answer the nearer yet length. ',
                        imgSrc: 'images/slide.jpg',
                    },
                    {
                        mainTitle: 'fast do you see.',
                        subTitle: 'Preserved defective offending he daughters on or. Rejoiced prospect yet material servants out answered men admitted. Sportsmen certainty prevailed suspected am as. Add stairs admire all answer the nearer yet length. ',
                        imgSrc: 'images/slide.jpg',
                    }

                ]
            }
        },
        computed: {
            swiper() {
                return this.$refs.mySwiper.$swiper
            }
        },
    }
</script>

<style scoped>

</style>
