<template>
    <ul>
        <li v-for="local in locales" :key="local" @click="switchLocale(local)" class="text-center">
            <a href="javascript: void (0)" @click="switchLocale(local)"> {{local}}</a>
        </li>
    </ul>

</template>

<script>
    import $ from "jquery";

    export default {
        name: "localSwitcher",
        data(){
            return {
                locales: process.env.VUE_APP_I18N_SUPPORTED_LOCALE.split(',')
            }
        },
        methods:{
            switchLocale(locale){
                if(this.$i18n.locale !== locale){
                    this.$i18n.locale = locale;
                    $("body").toggleClass("rtl");

                }

            }
        }
    }
</script>

<style scoped>

</style>
