<template>
    <section class="officers">
        <div class="container">
            <h2 class="section-title">
                {{ $t('executivesOfficers') }}
                <br>
                <img class="under-line" src="@/assets/images/icons/under-line.svg" alt="#">
            </h2>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card main-card">
                        <a href="javascript: void (0)">
                            <img class="card-img-top rounded-0" :src="currentOfficer.imgSrc"
                                 alt="Card image cap">
                        </a>

                        <div class="card-body">
                            <a href="javascript: void (0)">
                                <h5 class="card-title">{{currentOfficer.name}}</h5>

                            </a>
                            <p class="sub-title">{{currentOfficer.title}}</p>
                            <p class="card-text">
                               {{currentOfficer.description}}
                            </p>
                            <div class="social-icons">
                                <a href="javascript: void (0)">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="javascript: void (0)">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="javascript: void (0)">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-lg-6">
                    <div class="row mini-cards">

                        <div class="col-lg-6" v-for="officer of officersListFilter" :key="officer.id">
                            <a href="javascript: void (0)" @click="currentOfficerId = officer.id">
                                <div class="card border-0">
                                    <img class="card-img-top rounded-0" :src="officer.imgSrc"
                                         alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">{{officer.name}}</h5>
                                        <p class="sub-title">{{officer.title}}</p>
                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        name: "Officers",
        data() {
            return {
                officersList: [
                    {
                        id: 1,
                        name: 'Hazem Darwiesh',
                        imgSrc: 'images/Layer-14.png',
                        title: 'Chief Executive Officer',
                        description: 'Some quick example text to build on the card title and make up the bulk of the card\'s content.Some quick example text to build on the card title and make up the bulk of the card\'s contentSome quick example text to build on the card title and make up the bulk of the card\'s content.Some quick example text to build on the card title and make up the bulk of the card\'s content\n' +
                            '\n'

                    },
                    {
                        id: 2,
                        name: 'Mr. Mohamed AbdelRasoul',
                        imgSrc: 'images/Layer-10.png',
                        title: '',
                        description: 'Some quick example text to build on the card title and make up the bulk of the card\'s content.Some quick example text to build on the card title and make up the bulk of the card\'s contentSome quick example text to build on the card title and make up the bulk of the card\'s content.Some quick example text to build on the card title and make up the bulk of the card\'s content\n' +
                            '\n'

                    },
                    {
                        id: 3,
                        name: 'Dr. Alaa AlGoweini',
                        imgSrc: 'images/Layer-11.png',
                        title: '',
                        description: 'Some quick example text to build on the card title and make up the bulk of the card\'s content.Some quick example text to build on the card title and make up the bulk of the card\'s contentSome quick example text to build on the card title and make up the bulk of the card\'s content.Some quick example text to build on the card title and make up the bulk of the card\'s content\n' +
                            '\n'

                    },
                    {
                        id: 4,
                        name: 'Dr. Walaa Kadry',
                        imgSrc: 'images/Layer -2.png',
                        title: '',
                        description: 'Some quick example text to build on the card title and make up the bulk of the card\'s content.Some quick example text to build on the card title and make up the bulk of the card\'s contentSome quick example text to build on the card title and make up the bulk of the card\'s content.Some quick example text to build on the card title and make up the bulk of the card\'s content\n' +
                            '\n'

                    },
                    {
                        id: 5,
                        name: 'Mr. AbdelHakim GamalElDin',
                        imgSrc: 'images/Layer-13.png',
                        title: 'Chief Executive Officer',
                        description: 'Some quick example text to build on the card title and make up the bulk of the card\'s content.Some quick example text to build on the card title and make up the bulk of the card\'s contentSome quick example text to build on the card title and make up the bulk of the card\'s content.Some quick example text to build on the card title and make up the bulk of the card\'s content\n' +
                            '\n'

                    },
                ],
                currentOfficerId: 1,
            }
        },
        computed: {
            officersListFilter() {
                return this.officersList.filter((value)=>this.currentOfficerId != value.id)

            },
            currentOfficer(){
                return this.officersList.find((value)=>this.currentOfficerId == value.id)
            }
        },
    }
</script>

<style scoped>

</style>
