<template>
    <section class="our-services">
        <div class="container">
            <h2 class="section-title">
                {{ $t('ourServices') }}
                <br>
                <img class="under-line" src="@/assets/images/icons/under-line.svg" alt="#">
            </h2>
            <div class="row w-100">
                <div class="col-md-4 service" v-for="(service ,index) in services" :key="index">
                    <a href="javascript: void (0)">
                        <img :src="service.imgSrc" alt="">
                        <h4 class="service-name">{{service.name}}</h4>
                    </a>
                    <p>{{service.description}} </p>

                </div>
                <div class="col-12 text-center">
                    <a href="javascript: void (0)" class="btn btn-services">{{ $t('viewAllServices') }}</a>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        name: "OurServices",
        data() {
            return {
                services: [
                    {
                        name: "Service one",
                        description: "Preserved defective offending he daughters on or. Rejoiced prospect yet material servants out answered men admitted.",
                        imgSrc: "images/icons/service-1.svg",
                    },
                    {
                        name: "Service two",
                        description: "Preserved defective offending he daughters on or. Rejoiced prospect yet material servants out answered men admitted.",
                        imgSrc: "images/icons/service-2.svg",
                    },
                    {
                        name: "Service three",
                        description: "Preserved defective offending he daughters on or. Rejoiced prospect yet material servants out answered men admitted.",
                        imgSrc: "images/icons/service-3.svg",
                    },
                ]
            }
        }
    }
</script>

<style scoped>

</style>
