<template>
    <section class="overview">
        <div class="container">
            <h2 class="section-title">
                {{ $t('overview') }}
                <br>
                <img class="under-line" src="@/assets/images/icons/under-line.svg" alt="#">
            </h2>
            <p>{{ $t('prev-1') }}</p>
        </div>
    </section>
</template>

<script>
    export default {
        name: "OverView"
    }
</script>

<style scoped>

</style>
