<template>
    <section class="partners">
        <div class="container">
            <h2 class="section-title">
                {{ $t('greatPartners') }}
                <br>
                <img class="under-line" src="@/assets/images/icons/under-line-white.svg" alt="#">
            </h2>
            <swiper ref="mySwiper2" :options="swiperOptions2">
                <swiper-slide v-for="(partner,index) in partners" :key="index">
                    <a :href="partner.href">
                        <img :src="partner.imgSrc" alt="">
                    </a>
                </swiper-slide>
            </swiper>
        </div>
    </section>
</template>

<script>
    import Swiper from 'swiper';
    export default {
        name: "PartnerSlider",
        data(){
            return{
                swiperOptions2: {
                    slidesPerView: 5,
                    spaceBetween: 40,
                    // Responsive breakpoints
                    breakpoints: {
                        // when window width is >= 480px
                        480: {
                            slidesPerView: 1,
                            spaceBetween: 0
                        },
                        // when window width is >= 640px
                        640: {
                            slidesPerView: 2,
                            spaceBetween: 20
                        },
                        768: {
                            slidesPerView: 3,
                        },
                        1200: {
                            slidesPerView: 4,
                        },
                        1320: {
                            slidesPerView: 5,
                        }
                    },
                    pagination: {
                        el: '.swiper-pagination',
                        clickable: true
                    },
                },
                partners : [
                    {
                        imgSrc:"images/brand-5.png",
                        href:"javascript: void (0)",
                    },
                    {
                        imgSrc:"images/brand-1.png",
                        href:"javascript: void (0)",
                    },
                    {
                        imgSrc:"images/brand-2.png",
                        href:"javascript: void (0)",
                    },
                    {
                        imgSrc:"images/brand-4.png",
                        href:"javascript: void (0)",
                    },
                    {
                        imgSrc:"images/brand-3.png",
                        href:"javascript: void (0)",
                    },


                ]


            }
        },
        computed: {
            swiper() {
                return this.$refs.mySwiper.$swiper
            }
        },
    }
</script>

<style scoped>

</style>
