<template>
    <section class="recent-news">
        <div class="container">
            <h2 class="section-title">
                {{ $t('recentNews') }}
                <br>
                <img class="under-line" src="@/assets/images/icons/under-line.svg" alt="#">
            </h2>
            <div class="row">
                <div class="col-md-4" v-for="(post , index) in news" :key="index">
                    <div class="card">
                        <a href="javascript: void (0)" class="overflow-hidden">
                            <img class="card-img-top" :src="post.imgSrc" alt="Card image cap">
                        </a>

                        <div class="card-body">
                            <a href="javascript: void (0)">
                                <h5 class="card-title">{{post.title}}</h5>
                            </a>
                            <span class="text-muted">{{post.date}}</span>
                            <p class="card-text">{{post.description}}</p>
                            <a href="javascript: void(0)" class="btn btn-more rounded-0">{{ $t('learnMore') }}</a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
</template>

<script>
    export default {
        name: "RecentNews",
        data (){
            return {
                news : [
                    {
                        title:"How to Improve Your Sales Volume - 1",
                        date:"23 AUG, 2018",
                        description:"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod teminc ididunt ut labore et dolore.",
                        imgSrc:"images/card-1.png",
                    },
                    {
                        title:"How to Improve Your Sales Volume - 2",
                        date:"24 AUG, 2018",
                        description:"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod teminc ididunt ut labore et dolore.",
                        imgSrc:"images/card-2.png",
                    },
                    {
                        title:"How to Improve Your Sales Volume - 3",
                        date:"25 AUG, 2018",
                        description:"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod teminc ididunt ut labore et dolore.",
                        imgSrc:"images/card-3.png",
                    },

                ]
            }
        }
    }
</script>

<style scoped>

</style>
