<template>
    <section class="statistics">
        <div class="container">
            <h2 class="section-title">
                {{ $t('statistics') }}
                <br>
                <img class="under-line" src="@/assets/images/icons/under-line.svg" alt="#">
            </h2>
            <div class="row w-100" id="counter">
                <div class="col-md-3 col-6 statistic" v-for="(statistic,index) in statistics" :key="index">
                    <div class="icon">
                        <i :class="statistic.classIcon"></i>
                    </div>
                    <p class="count counter-value" :data-count="statistic.dataCount">{{statistic.count}}</p>
                    <p class="statistic-name">{{$i18n.locale==='en'?statistic.name:statistic.nameAr}}</p>
                </div>
            </div>

        </div>
    </section>
</template>

<script>
    import $ from 'jquery'
    export default {
        name: "Statistics",
        data(){
            return {
                statistics : [
                    {
                        name:"Clients Serviced",
                        nameAr:"عملاء خدموا",
                        count:"10000",
                        classIcon: "fas fa-walking",
                        dataCount: "30000",

                    },
                    {
                        name:"Machienes",
                        nameAr:"الآلات",
                        count:"200",
                        classIcon: "fas fa-cog",
                        dataCount: "5155",

                    },
                    {
                        name:"Qulified Staff",
                        nameAr:"الموظفين المؤهلين",
                        count:"20000",
                        classIcon: "fas fa-user-friends",
                        dataCount: "61455",

                    },
                    {
                        name:"Sites",
                        nameAr:"المواقع",
                        count:"10",
                        classIcon: "fas fa-map-marker-alt",
                        dataCount: "126",

                    },


                ]
            }
        },
        mounted() {

            // Animated Counter
            var a = 0;
            $(window).scroll(function () {

                var oTop = $('#counter').offset().top - window.innerHeight;
                if (a == 0 && $(window).scrollTop() > oTop) {
                    $('.counter-value').each(function () {
                        var $this = $(this),
                            countTo = $this.attr('data-count');
                        $({
                            countNum: $this.text()
                        }).animate({
                                countNum: countTo
                            },

                            {

                                duration: 5000,
                                easing: 'swing',
                                step: function () {
                                    $this.text(Math.floor(this.countNum));
                                },
                                complete: function () {
                                    $this.text(this.countNum);
                                }

                            });
                    });
                    a = 1;
                }

            });
        }
    }
</script>

<style scoped>

</style>
