<template>
    <div id="app">
        <the-header></the-header>
        <main>
            <HomeSlider></HomeSlider>
            <OurServices></OurServices>
            <OverView></OverView>
            <Officers></Officers>
            <Statistics></Statistics>
            <RecentNews></RecentNews>
            <PartnerSlider></PartnerSlider>
            <TheFooter></TheFooter>
        </main>
    </div>
</template>

<script>
    import Swiper from 'swiper';
    import TheHeader from "./layouts/TheHeader";
    import HomeSlider from "./components/HomeSlider";
    import OurServices from "./components/OurServices";
    import OverView from "./components/OverView";
    import Officers from "./components/Officers";
    import Statistics from "./components/Statistics";
    import RecentNews from "./components/RecentNews";
    import PartnerSlider from "./components/PartnerSlider";
    import TheFooter from "./layouts/TheFooter";



    export default {
        name: 'App',
        components: {
            TheHeader,
            HomeSlider,
            OurServices,
            OverView,
            Officers,
            Statistics,
            RecentNews,
            PartnerSlider,
            TheFooter,
        },
        data() {
            return {
            }
        },
    }
</script>

<style>

</style>
