<template>
    <footer>
        <div class="container">
            <div class="explore">
                <h3>{{ $t('footer.exploreMore') }}</h3>
            </div>
            <div class="row footer-wrapper">
                <div class="col-lg-3 col-md-6">
                    <h4>{{ $t('footer.quickLinks') }}</h4>
                    <ul>
                        <li v-for="(item ,index) in quickLinks" :key="index"><a :href="item.url">{{$i18n.locale==='en'?item.text:item.textAr}}</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4>{{ $t('footer.ourHospitals') }}</h4>
                    <ul>
                        <li v-for="(item ,index) in ourHospitals" :key="index"><a :href="item.url">{{$i18n.locale==='en'?item.text:item.textAr}}</a></li>

                    </ul>
                </div>
                <div class="col-lg-6 col-md-12">
                    <h4>{{ $t('footer.newsLetter') }}</h4>
                    <form action="#">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control rounded-0" :placeholder=" $t('footer.emailAddress')"
                                   aria-label="Email Address" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn subscribe-btn rounded-0" type="button">{{ $t('footer.subscribeNow') }}</button>
                            </div>
                        </div>
                    </form>
                    <p class="copyright">
                        {{ $t('footer.copyRight') }}
                    </p>
                    <div class="social-icons">

                        <a v-for="(icon ,index) in socialIcons" :key="index" :href="icon.url">
                            <i :class="icon.classIcon"></i>
                        </a>
                    </div>

                </div>
            </div>

        </div>
    </footer>
</template>

<script>
    export default {
        name: "TheFooter",
        data(){
            return {
                quickLinks: [
                    {
                        text:"Home",
                        textAr: 'الرئيسية',
                        url:"javascript: void (0)",
                    },
                    {
                        text:"about us",
                        textAr: 'حول',
                        url:"javascript: void (0)",
                    },
                    {
                        text:"careers",
                        textAr : 'وظائف',
                        url:"javascript: void (0)",
                    },
                    {
                        text:"events",
                        textAr : 'الإعلام&الأحداث',
                        url:"javascript: void (0)",
                    },
                    {
                        text:"NEWS",
                        textAr : 'الاخبار',

                        url:"javascript: void (0)",
                    },
                    {
                        text:"contact",
                        textAr : 'اتصل بنا',

                        url:"javascript: void (0)",
                    },
                ],
                ourHospitals: [
                    {
                        text:"Al Shalalat",
                        textAr:"الشلالات",
                        url:"javascript: void (0)",
                    },
                    {
                        text:"semouha",
                        textAr:"سموحة",
                        url:"javascript: void (0)",
                    },
                    {
                        text:"maadi",
                        textAr:"المعادي",
                        url:"javascript: void (0)",
                    },
                    {
                        text:"antoniades",
                        textAr:"اسكندرية",
                        url:"javascript: void (0)",
                    },
                    {
                        text:"hai el jamaa",
                        textAr:"حي الجمعة",
                        url:"javascript: void (0)",
                    },
                ],
                socialIcons : [
                    {
                        classIcon:"fab fa-facebook-f",
                        url:"javascript: void (0)",
                    },
                    {
                        classIcon:"fab fa-twitter",
                        url:"javascript: void (0)",
                    },
                    {
                        classIcon:"fab fa-google-plus-g",
                        url:"javascript: void (0)",
                    },
                ],

            }
        }
    }
</script>

<style scoped>

</style>
