<template>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-6 align-self-center">
                    <a href="javascript: void (0)">
                        <img src="@/assets/images/logo.png" alt="Logo">
                    </a>
                </div>

                <div class="col-md-9 col-6">
                    <ul class="nav justify-content-end">
                        <li class="nav-item" v-for="(item,index) of navList" :key="index">
                            <a class="nav-link" :href="item.url">{{$i18n.locale==='en'?item.text:item.textAr}}</a>
                            <ul class="sub-nav" v-if="item.subNav.length > 0">
                                <li v-for="subItem of item.subNav">
                                    <a :href="subItem.url" class="nav-link">{{$i18n.locale==='en'?subItem.text:subItem.textAr}}</a></li>
                            </ul>
                        </li>

                        <li class="align-items-center d-flex nav-item">
                            <a class="px-1" href="javascript: void (0)">
                                <img src="@/assets/images/icons/search-icon.svg" alt="search" class="search-icon">
                            </a>
                        </li>
                        <li>
                            <localSwitch></localSwitch>
                        </li>
                    </ul>

                    <a href="javascript:void(0)" class="nav-icon float-right">
                        <i></i>
                    </a>
                    <div class="responsive-menu">
                        <ul class="container">
                            <li>
                                <a class="" href="javascript: void (0)">Home</a>
                            </li>
                            <li>
                                <a class="" href="javascript: void (0)">Home</a>
                            </li>
                            <li>
                                <a class="" href="javascript: void (0)">Home</a>
                            </li>
                            <li>
                                <a class="" href="javascript: void (0)">Home</a>
                            </li>
                            <li>
                                <a class="" href="javascript: void (0)">Home</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
</template>

<script>
    import $ from "jquery";
    import localSwitch from "../components/localSwitcher.vue"


    export default {
        name: "TheHeader",
        components :{
            localSwitch
        },
        data() {
            return {
                navList: [
                    {
                        text: 'Home',
                        textAr: 'الرئيسية',
                        url: '#',
                        subNav: [
                            {
                                text: 'home 1',
                                textAr: 'الرئيسية 1',
                                url: '#',
                            },
                            {
                                text: 'home 2',
                                textAr: 'الرئيسية 2',
                                url: '#',
                            },
                            {
                                text: 'home 3',
                                textAr: 'الرئيسية 3',
                                url: '#',
                            },
                        ]
                    },
                    {
                        text: 'About us',
                        textAr: 'حول',
                        url: '#',
                        subNav: [
                            {
                                text: 'Our Company',
                                textAr: 'شركتنا',
                                url: '#',
                            },
                            {
                                text: 'Partners & Accreditations',
                                textAr: 'لشركاء &الاعتمادات"',
                                url: '#',
                            },
                            {
                                text: 'Corporate Structure',
                                textAr: 'هيكل الشركات',
                                url: '#',
                            },
                        ]
                    },
                    {
                        text: 'Business Units',
                        textAr: 'وحدات الأعمال',
                        url: '#',
                        subNav: []
                    },
                    {
                        text: 'Projects',
                        textAr: 'المشاريع',
                        url: '#',
                        subNav: []
                    },
                    {
                        text : 'Partners',
                        textAr : 'شركاء',
                        url : '#',
                        subNav :[]
                    },
                    {
                        text : 'Media&Events',
                        textAr : 'الإعلام&الأحداث',
                        url : '#',
                        subNav :[]
                    },
                    {
                        text : 'Contacts',
                        textAr : 'اتصالات',
                        url : '#',
                        subNav :[]
                    },
                    {
                        text : 'Careers',
                        textAr : 'وظائف',
                        url : '#',
                        subNav :[]
                    },
                ]
            }
        },
        mounted() {
            $('.nav-icon').click(function () {
                $(this).toggleClass('close-nav')
                $('.responsive-menu').toggleClass('opened');
            });
        }
    }
</script>

<style scoped>

</style>
