@font-face {
    font-family: 'Corbel';
    src: url('Corbel.eot');
    src: url('Corbel.eot?#iefix') format('embedded-opentype'),
        url('Corbel.woff') format('woff'),
        url('Corbel.ttf') format('truetype'),
        url('Corbel.svg#Corbel') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


